.catalogo {
    display: flex;
    .card {
        margin: 0.5%;
        background-color: rgba(34, 193, 207, 0.76);
        .card-img-top {
            width: 15vw;
            height: 15vw;
        }
    }
}
@media only screen and (max-width: 480px) {
    .titulo-catalogo {
        margin: 2% 0%;
        text-align: center;
    }
    .catalogo {
        flex-direction: column;
        align-items: center;
        .card {
            align-items: center;
            width: max-content;
            height: max-content;
            .card-img-top {
                width: 30vw;
                height: 30vw;
            }
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .titulo-catalogo {
        margin: 2% 0%;
        text-align: center;
    }
    .catalogo {
        display: grid;
        grid-template-rows: 1fr 1fr 1 fr;
        grid-template-columns: 1fr 1fr ;
        justify-items: center;
        .card {
            align-items: center;
            width: max-content;
            height: max-content;
            .card-img-top {
                width: 30vw;
                height: 30vw;
            }
        }
    }
}